name: 'Build PDF, convert to HTML, and deploy to GitHub Pages'
on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build PDF and convert to HTML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build PDF
        uses: xu-cheng/latex-action@v3
        with:
          root_file: cv.tex
      - name: Build HTML
        uses: SichangHe/pdf2htmlEX-action@v0.0.2
        with:
          arguments: cv.pdf index.html
      - name: Configure git
        run: |
          git config --global user.name "SichangHe"
          git config --global user.email "sichanghe@users.noreply.github.com"
      - name: Generate dummy Markdown version
        uses: docker://pandoc/core:latest
        with:
          args: -s index.html --to plain -o cv.md
      - name: Move files in place for upload
        run: |
          mkdir _site
          mv cv.pdf _site/cv-sichang_he.pdf
          mv index.html _site
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
      - name: Push Markdown if changed
        run: |
          git fetch
          git switch artifacts
          mv cv.md index.md
          if git diff --exit-code index.md; then
            echo "No changes."
          else
            git add index.md
            git commit -m "Dummy Markdown for $GITHUB_SHA"
            git push -f
          fi

  deploy:
    name: Deploy the site to GitHub Pages
    needs: build
    if: github.event_name == 'push'
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
